body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #3a3a3a;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

h1 {
    font-size: 2.5em;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#info {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

#info p {
    font-size: 1.2em;
    margin: 0;
}

#controls {
    margin-top: 20px;
}

#controls button,
#controls select {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#controls button {
    background-color: #ff6347;
    color: white;
}

#controls button:hover {
    background-color: #ff4500;
}

#controls select {
    background-color: #ffffff;
    color: #3a3a3a;
    border: 1px solid #ccc;
}

#controls select:hover {
    background-color: #f0f0f0;
}

#game_grid {
    border: 2px tomato solid;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
    width: 100px;
    height: 100px;
    position: relative;
    transition: transform 1s;
    perspective: 1000px;
    transform-style: preserve-3d;
}

img {
    width: 100%;
    height: 100%;
}

.front_face,
.back_face {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.flip {
    transform: rotateY(180deg);
}

.front_face {
    transform: rotateY(180deg);
}

.back_face {
    background: url('Persepolis.png') no-repeat center center;
    background-size: cover;
}

.light {
    background-color: white;
    color: black;
}

.dark {
    background-color: black;
    color: white;
}